<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #formLogin="ngForm">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="email" name="email" required="true" type="email" placeholder="user@dominio"></ion-input>
    </ion-item>
  
    <ion-button (click)="send()" shape="round" [disabled]="!formLogin.form.valid" expand="full">Entrar</ion-button>
  </form>
</ion-content>